/* VARIABLES DEFINED */

:root {
  --color-primary: #003366;
  --color-secondary: #0091ff;

  --color-bg: #f6f8fa;

  --color-text-primary: #333333;
  --color-text-secondary: #777777;
  --color-text-medium: #868686;

  --color-border-pri: #e02020;
  --color-border-sec: #e2ebf4;

  --font-primary: "Heebo", sans-serif;

  --container-padding: 0 6.5rem;
  --aside-margin: 40px;
}

/* COMMON CSS PROPERTIES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
li {
  display: inline;
}
.page {
  font-family: var(--font-primary);
}
.border-top {
  border-top: 1px solid var(--color-border-sec);
}
.border-bottom {
  border-bottom: 1px solid var(--color-border-sec);
}
h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: inherit;
}
.text-overflow-2-lines {
  /* https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-csshttps://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.ad-footer {
  width: 100%;
}
.ad-title {
  text-align: right;
  font-size: 12px;
  letter-spacing: 0.15px;
  font-weight: bold;
  color: var(--color-text-secondary);
}

/* NAVBAR */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  padding: var(--container-padding);
  margin-bottom: 3.5rem;
  height: 60px;
  border-bottom: 2px solid var(--color-border-pri);
}
.nav-logo a img {
  width: 180px;
}
.nav-items {
  display: flex;
}
.nav-item {
  font-weight: bold;
  font-size: 15px;
  margin-left: 40px;
}
.nav-item a {
  color: #a5b6c5;
}
.nav-item--active a {
  color: white;
}
.nav-item a:hover {
  color: white;
}
.nav-item--live {
  display: flex;
  align-items: center;
}
.live-icon {
  width: 5px;
  height: 5px;
  background-color: var(--color-border-pri);
  border-radius: 50%;
  box-shadow: 0 0 0 5px #e0202060, 0 0 0 10px #e0202040;
  margin-right: 15px;
}

/* PAGE */
.container {
  margin-bottom: 1rem;
  padding: var(--container-padding);
}
.content {
  display: flex;
  width: 100%;
}
.all-caps {
  text-transform: uppercase;
}

/* MAIN CONTAINER */
.main-container {
  width: 70%;
  margin-right: 20px;
  color: var(--color-text-primary);
}

/* MAIN PRIMARY */
/* GENERAL STYLING */
.main-pri {
  min-width: 0;
  width: 100%;
  margin-bottom: 40px;
}
.main-pri-head {
  background-color: var(--color-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 34px;
  line-height: 22px;
  font-weight: bold;
  padding: 6px 10px;
  margin-bottom: 15px;
}
.main-pri-head .live-icon {
  margin-left: 10px;
  margin-right: 16px;
}
.main-pri--heading {
  font-size: 18px;
  letter-spacing: 0.23px;
  margin-right: auto;
}

/* COVID UPDATES SECTION */
.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
.country-container {
  width: 50%;
  margin-right: 20px;
}
.country-list {
  width: 100%;
  /* padding: 15px;
  color: var(--color-text-secondary);
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px; */
}
/* .country-list option {
  padding: 10px;
  font-size: 14px;
} */
/* .country-list:hover {
  background-color: var(--color-bg);
  box-shadow: inset 0 0 0 2px var(--color-secondary);
} */
.state-container {
  width: 50%;
}
.state-list {
  width: 100%;
}
.stats-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.recovered-cases {
  margin: 0 15px;
}
.stats-item {
  width: 33%;
  border: 1px solid var(--color-border-sec);
  display: flex;
}
.stat-image {
  align-self: flex-end;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 15px;
}
.stat-numbers {
  font-weight: bold;
  padding: 15px 0;
}
.stat-numbers h3 {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.18px;
  color: var(--color-text-medium);
}
.stat-numbers p {
  font-size: 36px;
}
/* TOP NEWS SECTION */
/* TOP NEWS HEAD */
.top-news--left-chev {
  margin-right: 15px;
}
.top-news--right-chev {
  margin-right: 10px;
}

/* TOP NEWS ITEMS LIST */
.top-news-items-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.top-news-item:hover > .top-news-item--heading {
  text-decoration: underline;
}
.top-news-item--img-box {
  position: relative;
}
.top-news-item--img {
  width: 100%;
  object-fit: cover;
}
.top-news-item--tag-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 115px;
  height: 30px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: white;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: bold;
}
.top-news-item--heading {
  font-weight: bold;
  margin-bottom: 5px;
}
.top-news-item--desc {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: var(--color-text-secondary);
}

/* AD CONTAINER */
.main-ad-container {
  min-width: 0;
  width: 100%;
}
.span-grid-item {
  grid-column: 1 / span 2;
}
.ad-head {
  padding: 5px 0;
  margin-bottom: 10px;
  line-height: 22px;
}
.ad-heading {
  letter-spacing: 0.18px;
  font-size: 14px;
  font-weight: bold;
  width: fit-content;
  position: relative;
}
.ad-heading::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  position: absolute;
  top: 110%;
  left: 0;
  background-color: var(--color-secondary);
}
.ad-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin-bottom: 10px;
}
.ad-item {
  min-width: 0;
  padding: 10px;
  background-color: var(--color-bg);
}
.ad-item--img {
  width: 100%;
  object-fit: cover;
}
.ad-item--head {
  padding: 10px;
  display: flex;
  align-items: center;
}
.ad-item--desc {
  font-size: 16px;
  padding-left: 8px;
  line-height: 22px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ad-item:hover * .ad-item--desc {
  text-decoration: underline;
}
.ad-item--right-chev {
  margin-left: auto;
}

/* LIVE NEWS SECTION */
.main-pri--see-more span {
  letter-spacing: 0.18px;
  font-size: 14px;
}
.main-pri--see-more:hover > span {
  text-decoration: underline;
}
.live-news--right-chev {
  padding-left: 2px;
}
.live-news-items-list {
  display: grid;
  min-width: 0;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.live-news-item--img-box {
  position: relative;
}
.live-news-item--bg-img {
  width: 100%;
  object-fit: cover;
}
.live-news-item--img-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.live-news-item--heading {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
}
.live-news-item:hover > .live-news-item--heading {
  text-decoration: underline;
}

/* ASIDE */
.aside-container {
  width: 30%;
}

/* GENERAL ASIDE-ARTICLES STYLING */
.article-container {
  margin-bottom: var(--aside-margin);
  color: var(--color-text-primary);
}
.article-head {
  padding: 5px 0;
  line-height: 22px;
}
.article-heading {
  letter-spacing: 0.18px;
  font-size: 14px;
  font-weight: bold;
  width: fit-content;
  position: relative;
}
.article-heading::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  position: absolute;
  top: 110%;
  left: 0;
  background-color: var(--color-secondary);
}
article-ad {
}

/* PRIMARY ASIDE */
.article-primary-items {
}
.article-primary-item {
  display: flex;
  padding: 15px 30px 15px 0px;
}
.article-primary-item--img {
  width: 100px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
}
.article-primary-item--desc {
  font-weight: bold;
}
.article-primary-item:hover > .article-primary-item--desc {
  text-decoration: underline;
}

/* SECONDARY ASIDE */
.article-secondary-items {
}
.article-secondary-item {
  padding: 20px;
  display: flex;
  align-items: center;
}
.article-secondary-item--desc {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  flex: 1;
}
.article-secondary-item span {
  font-size: 16px;
  padding-left: 8px;
}
.article-secondary-item--img {
  margin-left: 8px;
}
.article-secondary-item:hover > .article-secondary-item--desc,
.article-secondary-item:hover > .article-secondary-item span,
.article-secondary-item:hover > .article-secondary-item--img {
  font-weight: bold;
  text-decoration: underline;
  color: var(--color-secondary);
}

/* DISCLAIMER */

.disclaimer {
  color: var(--color-text-secondary);
  font-size: 12px;
  text-align: center;
  line-height: 1rem;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  padding: var(--container-padding);
  height: 50px;
}
.footer-logo a img {
  width: 150px;
}
.footer-items {
  display: flex;
}
.footer-item {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 12px;
  margin-left: 4px;
}
.footer-item a {
  color: #afbcc8;
}
.footer-item a:hover {
  color: white;
  text-decoration: underline;
}
